<h1>New Project</h1>

<%= form_for :project, url: projects_path do |f| %>
  <div>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :date %><br />
    <%= f.text_field :date %>
  </div>

  <div>
    <%= f.label :skills %><br />
    <%= f.text_field :skills %>
  </div>

  <div>
    <%= f.label :images %><br />
    <%= f.text_field :images %>
  </div>

  <div>
    <%= f.label :placeholder %><br />
    <%= f.text_field :placeholder %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>