<h1 class="project">
  <%= @project.name %>
</h1>

<div>
  <%= @project.date %>
</div>

<div>
  <%= @project.skills %>
</div>

<div>
  <%= @project.images %>
</div>

<div>
  <%= @project.placeholder %>
</div>